<h1>Sample App</h1>
<p><%= t ".hello" %> <%= @user.name %></p>
<p>
  <%= t ".click_to_active" %>
  <%= link_to t(".active_link"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
</p>
